    <footer class="text-end" style="position: absolute; padding: 5px 15px; bottom: 0; width: 100%; background-color: #4B7AB0; color:#222D33">2021 all rights reserved.<footer>
    <!-- Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
