<!-- 
Filename: views/partials/footer.ejs
Wing Yin Andrew Sit (# 301188571)
Creation date: 2021/09/27
last revision: 2021/09/29 -->


<footer class="text-end footer">2021 all rights reserved.<footer>
    <!-- Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
