<!-- A partial view ejs file containing contents for home page -->
<main class="container p-5" style="margin-top: 60px;">
    <div class="p-5" style="background-color: gray;">
        <h1 class="display-4 text-center fw-bold">Hi! My name is Andrew.<br> 
        I make things happen on the web!<br>
        </h1>
        <h4 class="text-center fw-light fs-4"> Web development • Web Design • E-commerce</h4>
        <br><br><br>
        <!-- Using flex display to show boxes that link to different pages -->
        <div class="d-flex flex-wrap align-items-center justify-content-evenly text-wrap text-break fs-3 fw-bold" style="color: gray;">
            <!-- About Me -->
            <a aria-current="page" href="/about">
                <div 
                    class="my-3 d-flex align-items-center justify-content-center" 
                    style="
                        background-color: #222D33;
                        height: 220px;
                        width: 220px;"
                >
                    <div class="">About Me</div>
                </div>
            </a>
            <!-- Projects -->
            <a aria-current="page" href="/projects">
                <div 
                    class="my-3 d-flex align-items-center justify-content-center" 
                    style="
                        background-color: #222D33;
                        height: 220px;
                        width: 220px;"
                >
                    <div class="">Projects</div>
                </div>
            </a>
            <!-- Services -->
            <a aria-current="page" href="/services">
                <div 
                    class="my-3 d-flex align-items-center justify-content-center" 
                    style="
                        background-color: #222D33;
                        height: 220px;
                        width: 220px;"
                >
                    <div class="">Services</div>
                </div>
            </a>
            <!-- Contact Me -->
            <a aria-current="page" href="/contact">
                <div 
                    class="my-3 d-flex align-items-center justify-content-center" 
                    style="
                        background-color: #222D33;
                        height: 220px;
                        width: 220px;"
                >
                    <div class="">Contact Me</div>
                </div>
            </a>
        </div> 
    </div>
</main>