<!-- Showcase of my projects -->
<div class="p-5 pt-3">
    <h1 class="py-0">My Projects</h1>
    <br><hr><br>
    <img src="../../Assets/images/project1.jpg" alt="coffee studio project" class="project-image" />
    <h2 class="mt-3">Coffee Studio</h1>
    <article>I am maintaining this website as a partner and developer. It is the official site for a coffee roastery with E-commerce integration. It is using Next.js. This website is in operation and generating revenue.</article>
    <br><br><hr><br><br>
    <img src="../../Assets/images/project2.jpg" alt="coffee studio project" class="project-image" />
    <h2 class="mt-3">Bomb Cakes</h1>
    <article>The retail site for a cakery selling vegan rainbow cake. I worked on it as a freelance developer. The site is using React / Strapi(CMS). It was tailor-made to suit the customer's business process. </article>
    <br><br><hr><br><br>
    <img src="../../Assets/images/project3.jpg" alt="coffee studio project" class="project-image" />
    <h2 class="mt-3">Robofriends</h1>
    <article>A fun project geting info from an API and display them beautifully using React and CSS. It exhibits techniques such as searching algorithm, grid display system and API handling. </article>
    <br><br>
</div>