<!-- Filename: views/partials/services.ejs
Wing Yin Andrew Sit (# 301188571)
Creation date: 2021/09/27
last revision: 2021/09/29 -->

<!-- The services page -->
<div class="p-5 pt-0 fs-5">
    <h1 class="mt-3">Services</h1>
    <p>I don't just make websites. I want to bring you success too! Here are the list of services I will provide: </p>
    <ul>
        <li>Web Development</li>
        <li>Website Design</li>
        <li>Hosting Service</li>
        <li>E-commerce Integration</li>
        <li>E-commerce Consulting</li>
    </ul>
    <br>
    <img src="../../Assets/images/services.jpg" alt="coffee studio project" class="services-image" /><br>
</div>