<% include partials/header.ejs %> 
<% include partials/main_nav.ejs %> 

    <main class="container">
      <div class="jumbotron p-5" style="background-color: gray;">
        <h1 class="display-4">Hi! My name is Andrew. I am a web developer.</h1>
      </div>
    </main>

<% include partials/footer.ejs %> 