body {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:visited, a:link {
    color: white;
}

a:hover, a:active {
    color: #4B7AB0;
}

.home-nav a{
    color: gray;
    text-decoration: none;
}

.home-nav a:hover {
    color: white;
}

/* Contact Me page */
.contact-form-input {
    width: 20%;
    min-width: 280px;
    margin-bottom: 5px;
}

.contact-form-msg {
    width: 45%;
    height: 80px;
    min-width: 280px;
}