body {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

a:visited, a:link {
    color: white;
}

a:hover, a:active {
    color: #4B7AB0;
}

.home-nav a{
    color: gray;
    text-decoration: none;
}

.home-nav a:hover {
    color: white;
}