body {
    color: white;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #222D33; 
    min-height: 100vh; 
    position: relative;
}

a {
    color: white;
    text-decoration: underline;
}

a:visited, a:link {
    color: white;
}

a:hover, a:active {
    color: #4B7AB0;
}

.home-nav a{
    color: gray;
    text-decoration: none;
}

.home-nav a:hover {
    color: white;
}

/* Contact Me page */
.contact-form-input {
    width: 20%;
    min-width: 280px;
    margin-bottom: 5px;
}

.contact-form-msg {
    width: 45%;
    height: 80px;
    min-width: 280px;
}